    
<div class="container">

    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>BURGERS!</h1>
        </div>
    </div>

    <ul>
    {{#each burgers}}
        <li>
            <p><span class="label">ID:</span>{{this.id}}</p>
            <p><span class="label">Burger Name: </span>{{this.burger_name}}</p>
            <button class="devour-button" data-id="{{id}}" data-devoured="{{devoured}}">Devour it!</button>
        </li>
        {{/each}}
    </ul>

    <form>
        <div class="form row">
            <div class="col-sm-12">
                <input type="text" id="burger" class="form-control" placeholder="">
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-sm-12">
            <button id="submitButton" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(function(){

        $(".devour-button").on("click", function(event) {
            var id = $(this).data("id");
            var devoured = $(this).data("devoured");

            console.log(id);
            console.log(devoured);

            var wasDevoured = {
                devoured: 1
            };

            $.ajax("/api/burgers/" + id, {
                type: "PUT",
                data: wasDevoured
            }).then(
                function() {
                    console.log("Yum");

                    location.reload();
                }
            );
        });

        $("#submitButton").on("click", function(event) {
            event.preventDefault();

            var newBurger = {
                burger_name: $("#burger").val().trim(),
                devoured: 0
            };

            console.log(newBurger);

            $.ajax("/api/burgers", {
                type: "POST",
                data: newBurger
            }).then(
                function() {
                    console.log("created new burger");

                    location.reload();
                }
            );
    
        });

    });

</script>


